@font-face {
    font-family: 'Prompt-Regular';
    font-style: normal;
    font-weight: normal;
    src:
        local('Prompt-Regular'),
        url('../fonts/Prompt-Regular.ttf') format('truetype');
}

:root {
    --cp_color: #0F75BD;
    --cp_color_custom: #0a5286;
    --cp_white: rgba(255,255,255,0.95);
    --cp_gray: #ECF0F1;
    --cp_mint_green: #386665;
    --cp_dark_green:#18291c; 
    --cp_black: black;
    --cp_bright_green: #C0EDD0;
    --cp_sakura_pink: #FF8F7F;
    --cp_purple: #6a1b9a;
    --cp_yellow: #F1DD6A;
    --cp_orange: #ef6c00;
    --cp_cyan_soft: #b2ebf2;
    --cp_cyan_dark: #006064;
    --cp_pastel_purple: #9292D1;
    --cp_pastel_cream: #F5E3CB;
    --cp_wood_dark: #a47454;
    --cp_wood_soft: #dbbc8c;
    --cp_pink_soft: #f8bbd0;
    --cp_pink_dark: #880e4f;
    --cp_dark_turquoise: #4db6ac;
    --cp_lime_green:#cddc39;
    --cp_bluish_gray:#263238;
    --cp_test:#cddc39;

    --cp_text_header: var(--cp_color);      /* 3.1/6.1 text header ---(6)*/
    --cp_left_menu : var(--cp_white);       /*3.2 left menu background ---(1)*/
    --cp_header : var(--cp_white);          /*3.3 header background color ---(1)*/
    --cp_menu_box: var(--cp_white);            /*4.1 left box sidebar ---(3)*/
    --cp_text_left_menu : var(--cp_color);           /*4.2/5.3 text left box ---(6)*/
    --cp_hover:var(--cp_color);                      /*4.3 hover left box ---(4)*/
    --cp_text_hover_expand_left:var(--cp_white);     /*4.3/5.1 text hover expand left box ---(5)*/
    --cp_text_active: var(--cp_white);              /*4.4 text active left expand menu ---(5)*/
    --cp_hover_expand_left:var(--cp_color);    /*5.1 hover expand left box ---(4)*/
    --cp_menu_expand_left:var(--cp_white);          /*5.2 left expand menu background ---(8)*/
    --cp_hover_right:var(--cp_color);           /*6.2/6.3 right hover menu ---(4)*/
    --cp_text_hover_right:var(--cp_white);         /*6.2/6.3 text right hover ---(5)*/
    --cp_text_hover_expand_right:var(--cp_white);   /*7.1 text right expand hover ---(5)*/
    --cp_hover_expand_right:var(--cp_color);    /*7.1 right expand hover ---(4)*/
    --cp_menu_expand_right:var(--cp_white);        /*7.2 expand right sidebar background ---(8)*/
    --cp_text_expand_right:var(--cp_color);             /* 7.3 text expand right menu ---(6)*/
    --cp_background:var(--cp_white);                /*8.1 background page ---(2)*/
    --cp_text_backgroud:var(--cp_color_custom);             /*8.2 text background page ---(7)*/
    --cp_block : var(--cp_gray);           /*9. block background*/
    --cp_button : var(--cp_color);          /*10. All button ---(9)*/
    --cp_helpblock:var(--cp_bluish_gray);            /* 11. text help block */
}
body {
    background-color: var(--cp_background); /*8.1 background page*/
    color: var(--cp_text_backgroud);     /*8.2 text ex. home page, g1sec2*/
   }

a {
    color: var(--cp_color);
}
.aria-controls{
    color: var(--cp_color)!important;
}
a:hover {
    color: var(--cp_hover)!important; /* hover link ex. view detail (Home page)*/
}
.navbar-default .navbar-nav>li>a:hover {
    color: var(--cp_text_hover_right) !important;       /*6.2 text right hover*/
    background-color: var(--cp_hover_right) !important;  /*6.2 menu right hover*/
}

.btn-primary,
.btn-default {
    background-color: var(--cp_button) !important; /*10. button*/
}
.help-block{
    color: var(--cp_helpblock);    /*11. help block*/
}

.panel-primary>.panel-heading {
    color: var(--cp_white);
    background-color: var(--cp_color);
    border-color: var(--cp_color);
}

.panel-primary>.panel-heading a {
    color: var(--cp_white) !important;
}

#navbar{
    background-color:var(--cp_header)   /*header background*/
}
.dropdown-menu, .dropdown-menu li a{
    background-color:var(--cp_menu_expand_right); /*7.2 expand right sidebar background*/
} 

.navbar-brand {
    font-family: "Prompt-Regular", serif;
    font-weight: 700;
}
.center-block, .well{
    background-color:var(--cp_block)  /*9. block background*/
}

#appearance-main-viewport {
    margin-top: 60px;
}

/* User menu */
.link-text-span {
    padding-left: 10px;
    padding-right: 20px;
}

/* Make facet list group horizontal on small or smaller */
@media (max-width: 767px) {
    ul.list-group:after {
      clear: both;
      display: block;
      content: "";
    }

    .list-group-item {
        float: left;
    }
}

/* Nullify the 5px padding to the right */
.appearance-list-column-sort-icon {
    margin-right: -5px;
}

/* Make column text behave the same way as column links. */
.appearance-list-column-label {
    padding: 0px;
}

.appearance-list-columns-help-text {
    margin-left: 3px;
}

.fashadow svg {
    color:rgba(0, 0, 0, 0.3);
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 20;
    transform: translate(3px, 5px) !important;
}

/*
 * Fix dropdowns inside responsive tables. On small viewports, the dropdown
 * menu float is set to none in order to show centered with the dropdown
 * button and the position is set to static to force the table to expand.
 */
@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
        float: none;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: inherit;
    }

    .table-responsive .dropdown-menu {
        float: left;
    }
}

/* Avoid sidebar ul-li displaying disc decoration on small screens. */
@media (max-width: 767px) {
    .list-group {
        list-style-type: none;
    }
}

hr {
    margin-top: 5px;
    margin-bottom: 11px;
}

.btn-block {
    border-top: 2px solid rgba(255, 255, 255, 0.7);
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    border-right: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    min-height: 120px;
    padding-bottom: 1px;
    padding-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    white-space: normal;
}

.radio ul li {
    list-style-type:none;
}

a i {
    padding-right: 3px;
}

/* Notifications */
#toast-container > div {
  opacity: 1;
}

/* Collapse navigation on medium or smaller */
@media (max-width: 991px) {
    .navbar .navbar-brand {
        padding: 7.5px 7.5px;
    }
    .navbar .navbar-brand img {
        display: inline-block;
    }
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* List item view */

.panel-item {
    box-shadow: 2px 2px 18px rgba(0, 0, 0, .2);
    transition: all .2s ease;
}

.panel-item > .panel-heading {
    padding: 1px 10px;
}

.panel-item > .panel-body {
    padding: 10px;
    word-wrap: break-word;
}

.list-extra-column-label {
    font-weight: bold;
}

.source-column-label {
    font-weight: bold;
}

.panel-highlighted {
    box-shadow: 0px 0px 3px var(--cp_color), 10px 10px 20px #000000;
}

.panel-highlighted:hover {
    box-shadow: 0px 0px 3px var(--cp_color), 10px 10px 20px #000000, 0px 0px 8px #000000;
}

.panel-item:not(.panel-highlighted):hover  {
    box-shadow: 0px 0px 8px #000000;
}

/* Content */
@media (min-width:1200px) {
    .container-fluid {
        width: 95%;
    }
}

.spinner-container {
    margin: auto;
    width: 100%;
    border: 1px solid lightgray;
}

.spinner-container > .spinner-icon {
    margin-left: 4px;
    margin-top: 3px;
}

#ajax-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    z-index: 9999;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #222;
    border-top: 2px solid var(--cp_color);
    border-bottom: 2px solid var(--cp_color);
    -webkit-animation: .5s spin linear infinite;
    animation: .5s spin linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Imitate the default look of Django's debug template */
.pre-server-error {
    background-color:#ffe7ae;
    color: black;
    font-size: 110%;
    font-weight: bold;
}

/*
 * Main content
 */

/* Remove scroll bar caused by bootstraps -15px on .row margins */
.zero-margin {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    #appearance-main-viewport {
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 210px;
    }
}


/* Side bar */
#menu-actions {
    position: fixed;
    right: 5px;
    top: 65px;
    z-index: 1020;
}

#viewport {
    height: 100%;
    width: 100%;
}

.has-sidebar {
    padding-right: 0px;
}

@media (min-width: 768px) {
    #sidebar {
        bottom: 0;
        display: block;
        overflow-x: visible;
        overflow-y: auto;
        padding-top: 10px;
        position: fixed;
        right: 0;
        top: 100px;
        width: 160px;
        z-index: 1000;
    }

    .has-sidebar {
        padding-right: 160px;
    }
}

/* Bootstrap button outline override. */
.btn-outline {
    background-color: transparent;
    color: inherit;
}

.btn-primary.btn-outline {
    color: var(--cp_color);
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-default.btn-outline:hover,
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: var(--cp_white);
}

.btn-list > .btn {
    margin-bottom: 2px;
}

.btn-list > .btn:not(:last-child) {
    margin-right: 4px;
}

.btn-xs {
    padding: 1px 5px 0px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/* custom navbar */
.navbar, .navbar a {
    background-color: var(--cp_header); /* header a color */
}
/* .navbar {
    color: purple;   /* text expand right menu 
} */
.navbar a {
    color: var(--cp_text_header) !important;  /*3. navbar header text  */
}

/* menu_main */
/* Hide for mobile, show later */

#menu-main {
    display: block;
    background-color: var(--cp_left_menu); /* left menu background  */
    border-right: 1px solid var(--cp_color); /* cp color */
    bottom: 0;
    left: -210px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    position: fixed;
    top: 51px;
    transition: left 0.3s;
    width: 210px;
    z-index: 1000;

}

#menu-main-button-close {
    border-radius: 0;
    border-top: 2px solid var(--cp_color); /* cp color */
    border-bottom: 2px solid var(--cp_color); /* cp color */
    bottom: 0;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    width: 209px;
}

#main-menu-button-open {
    background-color: transparent;
    border: 0;
    border-right: 1px solid #95a5a6;
    display: block;
    padding: 6px 20px 0px 10px;
    margin: 0 10px 0 -15px;
}

.menu-user-name {
    color: var(--cp_white);
}

#multi-item-title-responsible-wrapper {
    display: none;
}

.overlay-gray {
    background-color: rgba(0,0,0,0.25);
    display: block;
    height: 100%;
    position: fixed;
    transition: background-color 0.3s;
    width: 100%;
    z-index: 50;
}

@media (min-width: 768px) {
    #menu-main {
        display: block;
        left: 0;
    }

    .menu-user-name {
        color: inherit;
    }

    #menu-main-button-close {
        display: none;
    }

    #main-menu-button-open {
        display: none;

    }

    #multi-item-title-responsible-wrapper {
        display: block;
    }

    .navbar .navbar-brand {
        padding: 7.5px 7.5px;
    }
    .navbar .navbar-brand img {
        display: inline-block;
    }
}

.menu-main-opened {
    display: block !important;
    left: 0 !important;
}

#appearance-main-viewport .page-header {
  margin-top: 0;
}

.navbar-brand {
    outline: none;
}

.container-fluid {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
.panel.panel-default{
    background-color:var(--cp_menu_box); /* menu box color*/
}

#accordion-sidebar a {
    padding: 10px 15px;
}

#accordion-sidebar a[aria-expanded="true"] {
    background: var(--cp_hover); /*4.4 press expand left menu */
    color: var(--cp_text_active) !important;    /*4.4 press text expand left menu */
    font-weight: 700;
}


#accordion-sidebar .panel {
    border: 0px;
}

#accordion-sidebar a {
    outline: none;
}

#accordion-sidebar > .panel > div > div > ul > li > a,
#accordion-sidebar > .panel > div > h4 > a {
    color: var(--cp_text_left_menu); /*4.2/5.3  text left menu */
    text-decoration: none;
    outline: none;
    position: relative;
    display: block;
}

#accordion-sidebar .panel-heading {
    background-color: transparent;
    color: black;
    padding: 0px;
}

#accordion-sidebar .panel-heading:hover {
    background-color: var(--cp_hover); /* box/ left menu*/
    color: var(--cp_white) !important; /* white color */
    transition: .1s ease;
}

#accordion-sidebar > .panel > div > .panel-body > ul > li.active {
   background: transparent;
}

#accordion-sidebar > .panel > div > .panel-body > ul > li:hover {
    background-color: var(--cp_hover_expand_left); /* (hover) expand left sidebar*/
    transition: .1s ease;
}

#accordion-sidebar a:hover {
    color: var(--cp_text_hover_expand_left) !important; /* text hover expand left menu*/
    font-weight: 700;
}

#accordion-sidebar .panel-title {
    font-size: 15px;
}

#accordion-sidebar .panel-body {
    font-size: 13px;
    border: 0px;
    background-color: var(--cp_menu_expand_left); /*left expand menu /dropdown */
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#accordion-sidebar .collapsed .accordion-indicator {
   transform: rotate(90deg);
}

#accordion-sidebar ul.list-unstyled {
    margin-bottom: 0px;
}

#accordion-sidebar .panel-body a {
    color: var(--cp_white);
    text-decoration: none;
    padding: 9px;
}

.navbar-default .navbar-brand:hover {
    font-weight: 700;
}

.navbar-default a:focus, .navbar-default a:hover {
    font-weight: 700;
}

.navbar-default .navbar-nav>.open>a {
    background-color: var(--cp_hover_right) !important; /*6.3 active right menu */
    color: var(--cp_text_hover_right) !important; /*6.3 text right active menu */
    font-weight: 700;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background-color: var(--cp_hover_expand_right); /*7.1 (hover) expand right menu */
    color: var(--cp_text_hover_expand_right) !important; /*7.1 (text hover) expand right menu */
    transition: .1s ease;
    font-weight: 700;
}

.navbar-toggle {
    background-color: var(--cp_color) !important; /* cp color */
}

.navbar-fixed-top {
    box-shadow: 0px 2px 2px var(--cp_color_custom); /* cp color custom */
}

.toolbar {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    margin-bottom: 10px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 15px;
    padding-top: 8px;
}

#body-plain {
    padding-top: 0px;
    margin-top: 10px;
}

/* appearance - JavaScript server error */
.banner-server-error {
    margin-top: 10px;
}

/* List toolbar affix */
#list-toolbar.affix {
    top: 60px;  /* OuterHeight of navbar */
    z-index: 90;
}

.dropdown-menu > li > a {
    color: var(--cp_text_expand_right) !important     /* 7.3 text expand right menu */
}

.dropdown-header {
    text-align:center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}